nav{
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    background-color: orange;
}
a{
    color: green;
}
p{
    font-size: 24px;
}
ul{
    font-weight: bold;
    background-color:blue;
    padding: 16px;
    color: black;
    font-size: 20px;
    
    
}
th,td{
    border: 1px solid red;
    padding:15px;
}
table{
    font-style:italic;
    border-collapse: collapse;
    width: 60%;
    padding: 50px;
}
tr:nth-child(even){background-color:grey;}
tr:nth-child(odd){background-color:orange;}
th{
    background-color: black;
    color: white;
}
   
h2{
    letter-spacing:4px;
}

header{
    background-color: pink;
}
.yellow{
    background-color: yellow;
    color: black;
}
section{
    background-color: blue;
    color: white;
 }
 footer{
    background-color: gray;
 }
 input{
    background-color: pink;
 }
 